.page {
	height: 100vh;
	background: linear-gradient(135deg, #1c2341, #0f1428);
	
	padding: 10px;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	padding: 5px;

	h1 {
		align-self: center;
		margin-bottom: 5px;
		color: rgba(255, 255, 255, 0.662);
	}
	button {
		align-self: center;
		font-size: 24px;

		border: 2px solid rgb(57, 133, 209);
		border-radius: 30% 30% 10% 10%;
		width: 54px;
		height: 36px;
		margin-top: 10px;

		background-color: rgb(102, 255, 255);
		color: rgba(0, 62, 0, 0.953);
	}
	button:hover {
		cursor: pointer;

		background-color: rgb(0, 255, 255);
		border-color: rgb(0, 255, 166);
		transition: background-color 0.1s, border-color 0.3s ease-in
	}

}

.projectsList {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	justify-content: center;
}