.page {
	height: 100%;
	background: linear-gradient(135deg, #1c2341, #0f1428);
	
	padding: 10px;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	padding: 5px;

	button {
		font-size: 24px;
		width: 50px;
		margin: 10px;
	}
}

.projectsList {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	justify-content: center;
	margin-top: 60px;
}