.header {
	display: flex;
	position: relative;
	align-items: center;
	padding: 1rem 1rem;

	background: #020024;
	background: linear-gradient(0deg, rgba(2, 0, 36, .85) 0%, rgba(9, 9, 121, .85) 100%);

	border-bottom: 1px ridge rgb(31, 28, 70);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
	font-size: .8rem;
	color: #605c5c;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
	text-decoration: none;
}


.logoutButton {
	background-color: rgb(150, 50, 50);
	color: white;

	border: 2px solid darkred;
	border-radius: 5px;
	
	position: absolute;
	right: 1rem;

	padding: 0.5rem 1rem;
	font-size: 0.9rem;
}

.logoutButton:hover {
	background-color: rgb(180, 70, 70);
	cursor: pointer;
}

.loginLink {
	position: absolute;
	right: 1rem;
	color: #605c5c;
	font-size: 0.9rem;
}