.background {
	background-color: #040058b3;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loginContainer {
	border: 3px ridge rgb(61, 61, 61);
	border-radius: 6px 7px 6px 5px;
	box-shadow: 3px 3px 30px 30px rgba(0, 0, 0, 0.289), 10px -10px 200px 250px rgba(28, 27, 27, 0.67);

	background-color: #54869c;
	background: radial-gradient(circle, rgba(84, 134, 156, 1) 0%, rgba(67, 74, 70, 0.87) 100%, rgba(237, 221, 83, 1) 100%);
	text-align: center;

	width: 50%;
	max-width: 500px;
	min-width: 300px;
	height: 50%;
	max-height: 500px;
	min-height: 380px;
	padding: 50px 3%;
}


/* HEADINGS */
	.heading {
		font-size: 32px;
		margin-bottom: 12px;
		color: #afafaf;
		text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
	}


/* INPUT FIELDS */
	.emailInput, .pwdInput {
		width: 80%;
		margin: 4px;
		padding: 4px;
		font-size: 15px;

		background-color: rgb(211, 211, 211, 0.8);
		border: 2px ridge rgba(211, 211, 211, 1);
		border-radius: 5px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}
	.emailInput:focus, .pwdInput:focus {
    outline: 2px solid rgba(255, 255, 255, 0.8);
	}


/* BUTTONS */
	.buttonWrapper {
		display: flex;
		flex-direction: column;
		gap: 12px;

		align-items: center;
	}


	.loginButton, .signupButton {
		width: 50%;
		padding: 10px;
		font-size: 18px;
		font-weight: bold;
		color: #e0e0e0;
		

		background-color: rgb(68, 81, 73);
		border: 3px groove rgb(113, 113, 113, 0.682);
		border-radius: 5px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.loginButton:hover, .signupButton:hover {
		background-color: rgb(85, 102, 92);
		cursor: pointer;
	}

	.loginButton:disabled, .signupButton:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}

/* ERROR MESSAGE */
	.error {
		color: #ff6b6b;
		background-color: rgba(255, 107, 107, 0.1);
		height: 50px;
		padding: 4px;
		margin-top: 6px;
		border-radius: 4px;
		border: 2px solid #ff6b6b;
		font-weight: 500;
		font-size: 14px;
		text-align: center;
	}
	.errorShake {
		animation: shake 300ms ease;
	}

	.loader {
		width: 24px;
		height: 24px;
		border: 2px solid #FFF;
		border-bottom-color: transparent;
		border-radius: 50%;
		display: inline-block;
		animation: rotation 1s linear infinite;
	}

	@keyframes rotation {
		0% { transform: rotate(0deg) }
		100% { transform: rotate(360deg) }
	}
	@keyframes shake {
  		0%, 100% { transform: translateX(0) }
		25% { transform: translateX(-5px) }
		75% { transform: translateX(5px) }
	}

	@media (max-width: 480px) {
		.loginContainer {
			width: 90%;
			height: auto;
			padding: 30px 5%;
		}

		.heading {
			font-size: 24px;
		}

		.loginButton, .signupButton {
			width: 80%;
		}
	}