.projectCard {
	position: relative;

	background: rgba(255,255,255,0.05);
	backdrop-filter: blur(8px);
	border: 1px solid rgba(255,255,255,0.08);
	border-radius: 12px;
	
	box-shadow: 1px 1px 5px black;

	padding: 3px;
	
	width: clamp(250px, 30vw, 320px);
	height: 150px;

	
}
.projectCard:hover {
	transform: translateY(-4px);
	box-shadow:
		2px 1px 2px rgba(0, 0, 0, 0.1),
		2px 12px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.renameInput {
	border: none;
	display: block;
	margin: auto;
	text-align: center;
	color: red;
	background: transparent;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}
.renameInput:focus {
	outline: none;
	border-bottom-color: #4a90e2;
}


.deleteProjectBtn {
	position: absolute;
	top: 2px;
	right: 5px;

	border: 1px solid black;
	border-radius: 5px;
	width: 30px;

	background-color: rgb(164, 52, 52);
	color: rgb(71, 49, 49);
}
.deleteProjectBtn:hover {
	cursor: pointer;
	background-color: rgb(185, 69, 69);
	border-color: rgb(196, 131, 131);
	transition: background-color 0.1s, border-color 0.2s ease-in;
}

.projectTimestamps {
	position: absolute;
	bottom: 0px;

	color: grey;
	opacity: 0.6;
	font-size: 12px;
	margin: 2px;
}